/* .main-container{
    display: grid;
    grid-template-columns: 16fr 85fr;
    background-color: #F5F5F5;
} */
.header{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right:5rem !important;
    padding: 1rem;
    align-items: center;
    background-color: #fff !important;
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9E9E9E;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-item i {
    font-size: 1.8rem;
}
.shopping-bag {
    display: none;
}
.nav-item.active {
    color: #DF5532;
    font-weight: bold;
}

.notification {
    position: relative;
}
.notification img {
    height: 2.5rem;
}
.profile-photo img {
    margin-right: -0.4rem;
}
.profile-info p{
    margin-right: 0.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.profile-info .bold-text {
    font-size: 1.4rem;
    color: #303030;
}
.profile-info .light-text{
    font-size: 1.2rem;
    color: #848484;
    margin-top: 0.6rem;
}

.more svg{
    font-size:2.4rem;
   margin-bottom: 1rem;
}
.line {
border: 0.1px solid #ebeaea;
/* box-shadow:  0 1.2rem 3.2rem rgba(0,0,0,0.37); */
}
.container{
width: 100%;
background-color: #F5F5F5;
   
}
.portolio-section{
    width: 87%;
   border-radius: 1.5rem;
   background-color: #fff;
   margin: 3rem;
   box-shadow: 0px 0.35px 0px -3px rgba(0,0,0,0.5);
   position: relative;

}
.portolio-section h2{
    padding: 2rem;
    font-size: 2.2rem;
    color: #303030;
    opacity: 10;
    font-weight: 600;
    font-family: "Roboto" ,serif;
}

.card-container {
    height:80rem ;
    max-height: fit-content;
    display: grid;
    overflow-y: scroll;

}
.cards-container::-webkit-scrollbar {
    width: 8px; 
    height: 5px;
  }
  .dot {
    height: 1rem;
    width: 1rem;
    background-color: #E65A59;
    position: absolute;
    top: 0%;
    right:10%;
    border-radius: 2rem;
  }

 

/* ****************************************************************
BOTTOM NAVBAR
**************************************************************/

/* ***************************************
   FILTER BUTTON STYLING
****************************************/
.bottom-filter-btn {
   display: none;
}

.bottom-filter-btn svg{ 
    font-size: 2rem;

}
.bottom-filter-text{
    font-size: 1.3rem;
    font-weight: 400;
}

.filter-icon {

}

/* ***************************************
   BOTTOM NAVBAR STYLING
****************************************/
.bottom-nav {
    display: none;
}

.bottom-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9E9E9E;
    cursor: pointer;
}
.bottom-nav-item span{
    font-weight:400; 
    font-size: 1.2rem;

}
.bottom-nav-item svg{
    font-size: 2.5rem;
}
.bottom-icon {
    font-size: 4rem;
    color: #9E9E9E;
}

.bottom-nav-item.active .bottom-icon {
    color: #DF5532;
}

.bottom-nav-item.active {
    color: #DF5532;
    font-weight: bold;
}

/* Not found */
.notfound {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 6rem;
}