*{
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;   
}
li{
    cursor: pointer;
}
a{  cursor: pointer;
}
.app-container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 16fr 85fr;
    background-color: #F5F5F5;
}
.content{
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin:0 auto ;
}
